In [1]:
# when we work with python 
# we can add information in dictionary
# person take only one person's information 
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [6]:
# people will take multiple persons info

people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [9]:
# multiple persons information inserted
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [10]:
# accessing data using key
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [4]:
import pandas as pd

In [5]:
#created dataframe from dictionary

df = pd.DataFrame(people)

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [11]:
# basically printing series 
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [12]:
# this is not returning a list of data only 
# it is basically returning series of data
# which has lot more functionality than list has
# series is rows of single column 

# dataframe is a container of multiple series object

type(df['email'])

pandas.core.series.Series

In [13]:
# using list of column to get multiple column
# this time it will not return a series rather it will return another dataframe
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [14]:
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
# iloc : integer location
# df.iloc[[row/row list], [column/column list]]
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [18]:
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [17]:
df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [19]:
# works same as iloc but
# now we can use column name as clumn index 
df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [21]:
# using column name as index
df.loc[[0, 1], 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [30]:
# column changed from original dataframe
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [31]:
# slicing also possible
# last value is inclusive
# do not use bracket. bracket means list of values
df.loc[0:1, 'first':'email']

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [32]:
# pandas does not enforce index to be uniqe
# setting index without 'inplace=True' will not change original dataframe

# default index will remain there with original dataframe
# df.set_index('email')                   # this will not change original dataframe

# default integer index will be no longer there
df.set_index('email', inplace=True)       # this will change original dataframe

In [33]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [34]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [35]:
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [36]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [37]:
# df.loc[0]                         # integer index with loc will not work anymore but
df.iloc[0]                          # iloc works

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object